{% extends 'page.html' %} {{ super() }} {% block title %}About - Asteria
Interactive{% endblock title %} {% block menu %}
<li><a href="/">Home</a></li>
<li><a href="/products">Products</a></li>
<li class="active"><a href="/about">About</a></li>
<li><a href="/contact">Contact</a></li>
{% endblock menu %} {% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="row">

			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12">
						<div class="page-header">
							<h3>
								Asteria Interactive help customers lead to success. <small>
									We got your back!</small>
							</h3>
						</div>
						<p>Making things easier for you lead us in creating innovative
							solutions that can help grow your business by solving big and
							small problems. We do this by taking part in using the most
							advance technologies, put them into your project plans, and
							create web applications for your business. You will find that the
							solution about innovation can become as easy as dialing a phone
							number or sending an email to tell us your problems.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="page-header">
							<h3>
								Achieve success and become a visionary<small> by
									modifying or removing failures.</small>
							</h3>
						</div>
						<p>Identifying problems about your business that can lead to
							failure, removing or modifying failure, and taking the right
							steps to action can lead you to your success. Our solution can
							help you identify problems that may exist. As we help you take
							action towards your identified problems by forming presentations
							that can create solutions for you, we can mold your data to
							improve your vision.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="page-header">
							<h3>
								Easy apps can make <small>problems smaller.</small>
							</h3>
						</div>
						<p>The objective of creating web applications allows you to
							use the app and work on task, or use our apps to support your
							transactions online. Tackling problems about business by creating
							automated apps allow you to manage your time in simplicity. Our
							goal include designing the easiest possible application enough
							for you to work on it and move on.</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<a class="twitter-timeline" href="https://twitter.com/fritzdenim"
					data-widget-id="320051530692706305">Tweets by @fritzdenim</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
