<header class="hero">
	<video autoplay muted loop id="hero-video">
		<source src="{{ '/assets/videos/connecting-the-world-640.mp4' | relative_url }}" type="video/mp4">
		Your browser does not support the video tag.
	</video>
	<div class="hero-content">
		<h2>Your Personal Business IT</h2>
		<p>Problems for your business will become easier once you learn
			that we can create automated web apps that fits the budget your
			business needs. Manipulating data and present them according to how
			you want it displayed will allow you to have a better visual control
			in your decisions, allowing you to expand your business easily.</p>
		<p>
			<i>We got your back!</i>
		</p>
		<a href="/products" class="btn btn-primary btn-lg" title="See our services">
			See our services
		</a>
	</div>
</header>
