<div class="page-header">
	<h2>Product Prices</h2>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-primary panel-product">
					<div class="panel-heading panel-pricing">
						<h3>Economy</h3>
					</div>
					<div class="list-group">
						<a class="list-group-item">
							<div>
								Google Products <span class="label label-success pull-right">available</span>
							</div>
						</a>
						<a class="list-group-item">
							<div>
								User <span class="label label-success pull-right">available</span>
							</div>
						</a>
						<a class="list-group-item">
							<div>
								Data Migration <span class="label label-success pull-right">available</span>
							</div>
						</a>
						<a class="list-group-item">
							<div>
								Content Management System <span class="label label-success pull-right">available</span>
							</div>
						</a>
						<a class="list-group-item">
							<div>
								Contacts and Lead Management <span class="label label-success pull-right">available</span>
							</div>
						</a>
						<a class="list-group-item">
							<div>
								Ecommerce Application <span class="label label-danger pull-right">not applicable</span>
							</div>
						</a>
						<a class="list-group-item">
							<div>
								Customized Application(s) <span class="label label-danger pull-right">not applicable</span>
							</div>
						</a>
						<div class="list-group-item">
							<div class="btn-group btn-group-justified">
								<a href="/registration/" class="btn btn-primary btn-lg">Register Now</a>
							</div>
						</div>
					</div>
					<!--
          <div class="panel-heading">
            <li class="list-group-item"><div class="price">Price <span class="pull-right">$59.99</span></div></li>
          </div>
          -->
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-primary panel-product">
					<div class="panel-heading panel-pricing">
						<h3>Business</h3>
					</div>
					<div class="list-group">
						<a class="list-group-item">
							<div>
								Google Products <span class="label label-success pull-right">available</span>
							</div>
						</a>
						<a class="list-group-item">
							<div>
								User <span class="label label-success pull-right">available</span>
							</div>
						</a>
						<a class="list-group-item">
							<div>
								Data Migration <span class="label label-success pull-right">available</span>
							</div>
						</a>
						<a class="list-group-item">
							<div>
								Content Management System <span class="label label-success pull-right">available</span>
							</div>
						</a>
						<a class="list-group-item">
							<div>
								Contacts and Lead Management <span class="label label-success pull-right">available</span>
							</div>
						</a>
						<a class="list-group-item">
							<div>
								Ecommerce Application <span class="label label-success pull-right">available</span>
							</div>
						</a>
						<a class="list-group-item">
							<div>
								Customized Application(s) <span class="label label-danger pull-right">not applicable</span>
							</div>
						</a>
						<div class="list-group-item">
							<div class="btn-group btn-group-justified">
								<a href="/registration/" class="btn btn-primary btn-lg">Register
									Now</a>
							</div>
						</div>
					</div>
					<!--
          <div class="panel-heading">
            <li class="list-group-item"><div class="price">Price <span class="pull-right">$99.99</span></div></li>
          </div>
          -->
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-primary panel-product">
					<div class="panel-heading panel-pricing">
						<h3>Enterprise</h3>
					</div>
					<div class="list-group">
						<a class="list-group-item">
							<div>
								Google Products <span class="label label-success pull-right">available</span>
							</div>
						</a> <a class="list-group-item">
							<div>
								User <span class="label label-success pull-right">available</span>
							</div>
						</a>
						<a class="list-group-item">
							<div>
								Data Migration <span class="label label-success pull-right">available</span>
							</div>
						</a>
						<a class="list-group-item">
							<div>
								Content Management System <span class="label label-success pull-right">available</span>
							</div>
						</a>
						<a class="list-group-item">
							<div>
								Contacts and Lead Management <span class="label label-success pull-right">available</span>
							</div>
						</a>
						<a class="list-group-item">
							<div>
								Ecommerce Application <span class="label label-success pull-right">available</span>
							</div>
						</a>
						<a class="list-group-item">
							<div>
								Customized Application(s) <span class="label label-success pull-right">available</span>
							</div>
						</a>
						<div class="list-group-item">
							<div class="btn-group btn-group-justified">
								<a href="/registration/" class="btn btn-primary btn-lg">Register Now</a>
							</div>
						</div>
					</div>
					<!--
          <div class="panel-heading">
            <li class="list-group-item"><div class="price">Price <span class="pull-right">$149.99</span></div></li>
          </div>
          -->
				</div>
			</div>
		</div>
	</div>
	<!-- pricing-list-first-row -->
</div>
