body {
  background-color: #FFFFFF;
}

header.header {
  background-image: url('/images/groovepaper.png');
  margin-bottom: 10px;
  border-bottom: 2px solid #efefef;
}

#main.container {
  min-height: 450px;
}

footer.footer {
  margin: 20px 0 0 0;
  background-image: url('/images/groovepaper.png');
  height: 100px;
  border-top: 2px solid #efefef;
}

.jumbotron h2 {
  color: #FF3232;
  text-shadow: 1px 1px 2px #cfcfcf;
}

.page-header h1,
.page-header h2,
.page-header h3,
.page-header h4,
.page-header h5,
.page-header h6 {
  color: #428BCA;
}

.page-header small {
  color: #E69492;
}

.panel-pricing h1, 
.panel-pricing h2, 
.panel-pricing h3, 
.panel-pricing h4, 
.panel-pricing h5, 
.panel-pricing h6 {
  margin: 0px;
  padding: 0px;
}

.product-features h3 {
  color: #d9534f; /* #ff9999 */
}

.panel-product div.price {
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  font-size: 30px;
  color: #428BCA;
  text-shadow: 1px 1px 2px #cfcfcf;
}

.panel-product div.price span {
  color: #ff4c4c; /* d9534f */
}

.quote {
  text-align: center;
  font-style: italic;
  font-size: 30px;
}

.admin #main {
  min-height: 700px;
}

.admin footer {
  margin: 20px 0 0 0;
  background-color: #f8f8f8;
  background-image: none;
  height: 30px;
  border-top: 2px solid #efefef;
  color: #777777;
}

.hero {
  position: relative;
  height: 100vh; /* Adjust as needed */
  overflow: hidden;
  background-color: #0e0e0e;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fadeInOut 90s infinite;
}

.hero-image.image1 {
  background-image: url('/images/iStock-1336250934.jpg');
  animation-delay: 0s;
}

.hero-image.image2 {
  background-image: url('/images/iStock-2073120208.jpg');
  animation-delay: 30s;
}

.hero-image.image3 {
  background-image: url('/images/iStock-2152026328.jpg');
  animation-delay: 60s;
}

.hero-content {
  position: relative;
  float: right;
  top: 20rem;
  right: 10rem;
  z-index: 1;
  font-weight: bold;
  color: white; /* Ensure text is visible */
  padding: 20px;
  width: 500px;
  text-shadow: 0 0 1px #000000;
}

.hero-content .background-box {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.hero-content p {
  font-size: 15px;
}

@keyframes fadeInOut {
  0%, 33.33%, 100% {
    opacity: 0;
  }
  1%, 32.33% {
    opacity: 1;
  }
}

/* Responsive Styling */
@media (max-width: 1200px) {
  .hero-content {
    top: 15rem;
    right: 5rem;
    width: 400px;
  }
}

@media (max-width: 992px) {
  .hero-content {
    top: 10rem;
    right: 3rem;
    width: 350px;
  }
}

@media (max-width: 768px) {
  .hero-content {
    top: 8rem;
    right: 2rem;
    width: 300px;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .hero-content {
    top: 5rem;
    right: 1rem;
    left: 1rem;
    width: auto;
    padding: 10px;
    text-align: center;
  }
  
  .hero-content p {
    font-size: 12px;
  }
}
