<!DOCTYPE HTML>
<html>
  <head>
    <title>Asteria Interactive</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css" />
    
    <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript"> 
      $('#contactModal').modal('show'); // Only one modal per page in bootstrap.
    </script>
  </head>
  <body style="background-color:#00BFFF;background-image:url(img/noise.jpg)">
      <header class="header" style="box-shadow:0px 3px 10px #0e0e0e;background-image:url('img/groovepaper.png');margin-bottom:10px;">
        <div class="container">
          <div class="row-fluid">
            <div class="span4">
              <a href="#home"><img src="img/logo.png"></a>
            </div>
            
            <div class="span8">
              <div class="space">&nbsp;</div>
              <div class="navbar pull-right span">
                <div class="navbar-inner">
                  <div class="container">
                    <ul id="main" class="nav">
                      <li class="active"><a href="#home">Home</a></li>
                      <li><a href="https://docs.google.com/document/d/1EMKHe2K33NaJr-rpUCezvwKH_CrN5WSU1qk6rzbTm_I/pub?embedded=True" target="_blank">Resume</a></li>
                      <li><a href="portfolio">Portfolio</a></li>
                      <li><a href="#contactModal" role="button" data-toggle="modal" >Contact</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </header>
      
    <ul class="nav nav-tabs nav-stacked pull-left" style="position:fixed;display:none">
      <li><a href="#top" style="background-color:#fff;"><img src="img/small-logo.png" /></a></li>
      <li><a href="#home" style="background-color:#fff;"><i class="icon-home"></i> Home</a></li>
      <li><a href="https://docs.google.com/document/d/1EMKHe2K33NaJr-rpUCezvwKH_CrN5WSU1qk6rzbTm_I/pub?embedded=True" target="_blank" class="button2" style="background-color:#fff;"><i class="icon-file"></i> Resume</a></li>
      <li><a href="#contactModal" role="button" data-toggle="modal" style="background-color:#fff;"><i class="icon-globe"></i> Contact</a></li>
    </ul>
    
    <!-- #contactModal -->
    <div id="contactModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"><img src="img/small-logo.png"> Contact Us</h3>
      </div>
        <form method="post" action="contact">
          <div class="modal-body">
              <table>
                <tr>
                  <td><label>Name<br><input type="text" value="" name="fullname"></label></td>
                </tr>
                <tr>
                  <td><label>Email<br><input type="text" value="" name="email"></label></td>
                </tr>
                <tr>
                  <td><label>Message<br><textarea class="span4" rows=10 type="text" name="message"></textarea></label></td>
                </tr>
              </table>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </form>
    </div>
    <!-- #contactModal --> 
    
    <div class="container">
      <div id="home" class="row-fluid">
        <div class="span9">
          <div class="row-fluid">
            <div class="well span12" style="background-image:url('img/groovepaper.png');box-shadow:3px 3px 10px #0e0e0e;">
              <div class="row-fluid">
                <div class="span12" style="text-align:justify;">
                  <h4>Asteria Interactive</h4>
                  <p>Asteria Interactive are group of web developers who analyze, design, and develop websites. The team works hard in acheiving one goal. They are dedicated to their career and acquire group motivation to move to the right path.</p>
                  <p>Their goal is to be successful in business single-mindedly. They develop and enhance both quality and appearance of websites.  Asteria Interactive - things are done with the right set of mind.</p>
                </div>
              </div>
              
              <h1 style="text-align:center;">Check us out!</h1>
              
              <div class="row-fluid" style="text-align:center">
                <div class="span12">
                  <div class="btn-toolbar">
                    <div class="btn-group">
                      <a class="btn btn-medium btn-primary" target="_blank" href="https://plus.google.com/110122531533175540411/" type="button">GooglePlus</a>
                      <a class="btn btn-medium btn-primary" target="_blank" href="https://code.google.com/u/110122531533175540411/" type="button">Code</a>
                      <a class="btn btn-medium btn-primary" target="_blank" href="http://www.linkedin.com/profile/view?id=37209178" type="button">Linkedin</a>
                      <a class="btn btn-medium btn-primary" target="_blank" href="https://www.facebook.com/fritz.denim" type="button">Facebook</a>
                      <a class="btn btn-medium btn-primary" target="_blank" href="http://www.fritzdenim.com" type="button">Fritzdenim</a>
                      <a class="btn btn-medium btn-primary" target="_blank" href="https://github.com/fritzdenim" type="button">Github</a>
                    </div>
                  </div>
                </div>
              </div>
          
              <br>
              
              <div class="row-fluid">
                <ul class="thumbnails">
                  <li class="span3">
                    <div class="thumbnail" style="background-color:#fff;">
                      <img src="img/front-develop.jpg" alt="Franz Noel Tanglao">
                      <div class="caption">
                        <p>Develop</p>
                      </div>
                    </div>
                  </li>
                  <li class="span3">
                    <div class="thumbnail" style="background-color:#fff;">
                      <img src="img/front-design.jpg" alt="Franz Noel Tanglao">
                      <div class="caption">
                        <p>Web Design</p>
                      </div>
                    </div>
                  </li>
                  <li class="span3">
                    <div class="thumbnail" style="background-color:#fff;">
                      <img src="img/front-program.jpg" alt="Franz Noel Tanglao">
                      <div class="caption">
                        <p>Program</p>
                      </div>
                    </div>
                  </li>
                  <li class="span3">
                    <div class="thumbnail" style="background-color:#fff;">
                      <img src="img/front-analyze.jpg" alt="Franz Noel Tanglao">
                      <div class="caption">
                        <p>Analyze</p>
                      </div>
                    </div>
                  </li>                  
                </ul>
              </div>
              
            </div>
          </div><!-- .row-fluid -->
                    
        </div>
        <div class="span3" style="box-shadow:3px 3px 10px #000;border-radius:5px;">
          <a class="twitter-timeline" href="https://twitter.com/fritzdenim" data-widget-id="320051530692706305">Tweets by @fritzdenim</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
    </div>
    
    
    <footer class="footer" style="box-shadow:0px -3px 10px #0e0e0e;margin:20px 0 0 0;background-image:url('img/groovepaper.png');height:100px;">
      <div class="container">
        <div class="span12" style="text-align:center;margin:20px 0 0 0;font-size:10px;color:#afafaf;box-shadow:inset 3px 3px 5p #0e0e0e;">
          &copy; Copyright Asteria Interactive 2013. All rights reserved.
        </div>
      </div>
    </footer>

    
  </body>
</html>