---
layout: default
---

<div class="page-header">
	<h2>Contact</h2>
</div>
<div class="space">&nbsp;</div>
<form id="contact" role="form" method="post" action="/contact/">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="fullname">Full Name</label> <input type="text"
							class="form-control" name="fullname" value=""
							placeholder="Full Name" />
					</div>
					<div class="form-group">
						<label for="email">Email</label> <input type="text"
							class="form-control" name="email" value=""
							placeholder="email@example.com" />
					</div>
					<div class="form-group">
						<label for="phoneNumber">Phone Number</label> <input type="text"
							class="form-control" name="phoneNumber" value=""
							placeholder="(000) 000-0000" />
					</div>
					<div class="form-group">
						<label for="website">Website</label> <input type="text"
							class="form-control" name="website" value=""
							placeholder="http://www.example.com/" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="subject">Subject</label> <select id="subject"
							class="form-control" name="subject">
							<option value="">-- Select a subject --</option>
							<option value="1">Report a problem about my site</option>
							<option value="2">Something is wrong with a page in
								Asteria Interactive</option>
							<option value="3">Update About My Registration</option>
							<option value="4">Technical Support Needed</option>
							<option value="5">Set an appointment</option>
							<option value="6">Feature Request or Suggestions</option>
							<option value="0">Other</option>
						</select>
					</div>
					<div class="form-group">
						<label for="message">Message</label>
						<textarea name="message" class="form-control" name="fullname"
							rows="8" placeholder="Message"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="btn-toolbar pull-right">
				<div class="btn-group">
					<input type="submit" class="btn btn-primary btn-lg" name="submit"
						value="Send">
				</div>
			</div>
		</div>
	</div>
</form>
<div class="space">&nbsp;</div>
<div class="row">
	<div class="col-md-6">
		<p>This contact form allow you to set appointments, report a
			problem about your site, report a problem about one of our pages, set
			a feature request, send suggestions, etc. You may also contact us
			through the information given below.</p>
		<address>
			<strong>Asteria Interactive</strong><br/><abbr title="Phone">P:</abbr>(817)
			235-6754<br> <a href="mailto:#">info@asteriainteractive.com</a>
		</address>
	</div>
	<div class="col-md-6"></div>
</div>
